*{
    border: 2px solid darkred
}
/* ---element selectors--- */

html{
    font-family: sans-serif;
    background-color: chocolate;
}
body{margin: 1rem,5rem;}
h1{ font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: center;padding: 1rem;
}
h2{font-family: 'Times New Roman', Times, serif;
    text-align: center;
padding: 3rem, 5rem;
}
h3{font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;text-align: center;

}
p{
    padding: 2rem;
}
footer {text-align: center;
    margin: 2rem 0 2rem 0;}
.table{padding: .5rem;
background-color: darksalmon;
border-radius: 2rem;}
tr,td{padding-left: 0.2em;
    padding-right: .2rem;
text-align: center;}
img{border-radius: 1rem;}
form{align-content: center;}
.title{
    text-align: left;padding: 1rem;
}